{% extends "app/index.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <section class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #f7f7f7;">
        <div class="col-lg-6">
          <div class="card shadow-sm">
            <div class="card-body p-4">
              <form action="/cadastrar_colaborador/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="colaborador" class="form-label">Nome do Colaborador</label>
                  <input type="text" class="form-control" id="colaborador" name="colaborador" placeholder="Nome" required>
                </div>
                <div class="mb-3">
                  <label for="matricula" class="form-label">Matrícula</label>
                  <input type="text" class="form-control" id="matricula" name="matricula" placeholder="Matrícula" required>
                </div>
                <div class="mb-3">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
{% endblock content %}
