{% extends "app\index.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block ">
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6">
              <div class="card
 text-black" style="border-radius: 25px;">
                <div class="card-body container-fluid p-5">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrar Ação</p>

                  <form class="mx-1 mx-md-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <div class="mb-3">
                        <input type="text" id="form3Example1c" class="form-control" placeholder="Colaborador" required />
                      </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <div class="mb-3">
                        <input type="text" id="form3Example3c" class="form-control" placeholder="Equipamento" required />
                      </div>
                    </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <div class="mb-3">
                        <label for="inputData" class="form-label">Data de Empréstimo</label>
                        <input type="date" class="form-control" id="inputData" required />
                      </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>

                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label for="inputData2" class="form-label">Data Prevista de Devolução</label>
                        <input type="date" class="form-control" id="inputData2" required />
                      </div>
                    </div>

                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                      <label for="inputCity" class="form-label">Status</label>
                      <select class="d-block form-control" name="select" required>
                        <option value="emprestado">Emprestado</option>
                        <option value="emuso">Em Uso</option>
                        <option value="fornecido">Fornecido</option>
                        <option value="devolvido">Devolvido</option>
                        <option value="danificado">Danificado</option>
                        <option value="perdido">Perdido</option>
                      </select>
                      </div>
                    </div>

                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                      <input type="text" id="form3Example4cd" class="form-control" placeholder="Condições do equipamento" required/>
                    </div>
                  </div>

                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                      <input type="text" id="form3Example4cd" class="form-control" placeholder="Data da devolução" required/>
                    </div>
                    </div>

                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                      <input type="text" id="form3Example4cd" class="form-control" placeholder="Observação na devolução/perda" required/>
                    </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <div class="mb-3">
                      <button type="submit" class="btn btn-primary">Registar Ação</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
  </div>
</div>

{% endblock content %}