{% extends "app/index.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-4">
  <section class="vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card shadow-sm rounded-3">
            <div class="card-body p-5">
              <h2 class="mb-4">Relatório de Colaboradores</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Colaborador</th>
                    <th>Data da Ação</th>
                    <th>Equipamento</th>
                  </tr>
                </thead>
                <tbody>
                  {% for acao in acoes %}
                    <tr>
                      <td>{{ acao.colaborador.colaborador }}</td>
                      <td>{{ acao.dataEmprestimo }}</td>
                      <td>{{ acao.equipamento.equipamento }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="3" class="text-center">Nenhuma ação registrada</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
