body {
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding-top: 56px; /* Ajuste essa altura conforme a altura do seu header */
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  z-index: 1000; /* Garante que o sidebar esteja abaixo do header */
}

.main-content {
  margin-left: 250px;
  margin-top: 56px; /* Ajuste para corresponder à altura do seu header */
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Garante que ocupe toda a altura da viewport */
  overflow-y: auto;
}
