<div class="sidebar bg-dark text-white p-3 vh-100">
  <ul class="nav nav-pills flex-column mb-auto fs-5">
      <li class="nav-item">
          <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
              <i class="bi bi-tools me-2"></i>
              Equipamento
          </a>
          <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/cadastrar_equipamentos" class="link-light d-inline-flex text-decoration-none rounded">Cadastrar Equipamento</a></li>
                  <li><a href="/editar_equipamentos" class="link-light d-inline-flex text-decoration-none rounded">Editar Equipamento</a></li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              <i class="bi bi-clipboard-check me-2"></i>
              Controle EPI
          </a>
          <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/registrar_acao" class="link-light d-inline-flex text-decoration-none rounded">Registrar Ação</a></li>
                  <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Relatórios</a></li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              <i class="bi bi-person-lines-fill me-2"></i>
              Colaborador
          </a>
          <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/cadastrar_colaborador" class="link-light d-inline-flex text-decoration-none rounded">Cadastrar Colaborador</a></li>
                  <li><a href="/relatorios_colaborador" class="link-light d-inline-flex text-decoration-none rounded">Relatórios</a></li>
                  <li><a href="/editar_colaborador" class="link-light d-inline-flex text-decoration-none rounded">Editar Colaborador</a></li>
              </ul>
          </div>
      </li>
  </ul>
</div>
